@model PagedList.IPagedList<DAPM_LT.Models.Kiemsoat>
@using PagedList.Mvc;



<div style="display:flex">
    <div class="Boloc">
        <div class="Tiemkiem_1">
            <div class="form-group">
                <label>Mã sách:</label>
                <input class="form-control" type="text" placeholder="12..." aria-label="Id sản phẩm" aria-describedby="basic-addon2" name="_id" />
            </div>
        </div>

        

    </div>

    <!-- Navbar Search-->
    <form class="Tiemkiem_2">
        <div class="input-group" style="display:flex">
            <input class="form-control" style="flex:0.5" type="text" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="_name" />
            <div class="input-group-append">
                <button class="btn-primary" type="submit" value="Tìm kiếm"><i class="fa-solid fa-magnifying-glass" style="width:30px"></i></button>
            </div>
        </div>
    </form>
</div>

<table class="table fa-border">
    <tr>
        <th>
            Mã sách
        </th>

        <th>
            Ảnh thực tế
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Thể loại
        </th>
        <th>
            Hiện trạng
        </th>
        <th>
            Mượn/Còn
        </th>

    </tr>



    @foreach (var item in Model.Where(k => k.Muontra == "Còn"))
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.Idkiemsoat)
            </td>

            <td>
                <img src="~/Content/Image/@item.Imgtrangthai" style="height:20%; width:20%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.Tieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.Loai.Tenloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthaisach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Muontra)
            </td>

        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<style>
    .MenuTrang {
        margin-top: 10px;
        text-align: center;
    }

        .MenuTrang .pagination {
            display: inline-block;
            margin-bottom: 0;
        }

            .MenuTrang .pagination li {
                display: inline;
                margin-right: 5px;
            }

                .MenuTrang .pagination li a,
                .MenuTrang .pagination li span {
                    color: #333;
                    padding: 6px 12px;
                    text-decoration: none;
                    border: 1px solid #ddd;
                    background-color: #fff;
                }

            .MenuTrang .pagination .disabled span,
            .MenuTrang .pagination .disabled a,
            .MenuTrang .pagination .disabled a:hover,
            .MenuTrang .pagination .disabled a:focus {
                color: #999;
                cursor: not-allowed;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .MenuTrang .pagination .active span,
            .MenuTrang .pagination .active a,
            .MenuTrang .pagination .active a:hover,
            .MenuTrang .pagination .active a:focus {
                z-index: 2;
                color: #fff;
                background-color: #337ab7;
                border-color: #337ab7;
            }
</style>