@model  DAPM_LT.Models.TaiKhoan

@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var useReg = Session["useReg"] as DAPM_LT.Models.TaiKhoan;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng kí</title>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-container center-block">
        <div class="card">
            <div class="card-header">
                <h3>Đăng ký tài khoản</h3>
            </div>
            <div>
                @using (Html.BeginForm("Dangky", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="form-group">
                            <label for="inputPassword">Họ</label>
                            @Html.EditorFor(model => model.Holot, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Holot, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Tên</label>
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Số điện thoại</label>
                            @Html.EditorFor(model => model.Dienthoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Dienthoai, "", new { @class = "text-danger" })

                        </div>
                       
                        <div class="form-group">
                            <label for="inputPassword">Địa chỉ</label>
                            @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Email</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "Email", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mật khẩu</label>
                            @Html.EditorFor(model => model.Matkhau, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })

                        </div>
                        <p class="text-danger">@ViewBag.RegOk</p>
                        <div class="form-group">
                            <input type="submit" value="Đăng kí" class="btn btn-primary" />
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="/User/Dangnhap">Đăng nhập</a></div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>


