

@model DAPM_LT.Models.TaiKhoan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/profile.css">
}

<body style="margin-top:100px">
    <a href="@Url.Action("Profile", new { id = Model.Idtaikhoan })" class="btn btn-success" style="color: white;">Trở về</a>
    <h2 class="text-center">Chỉnh sửa thông tin</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="profile-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Idtaikhoan)
            @Html.HiddenFor(model => model.IDQuyen)
            @Html.HiddenFor(model => model.Matkhau)
            <div class="profile-left">
                <div class="profile-picture-container">
                    <img src="~/Content/@Model.ImgU" alt="Hình ảnh đại diện" class="profile-picture">
                </div>
                <div class="profile-actions">
                    @Html.EditorFor(model => model.ImgU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImgU, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-info">
                    <div class="profile-field">
                        <span class="profile-label">Mã tài khoản:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Họ:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Tên:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Email:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Điện thoại:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Loại tài khoản:</span>

                    </div>
                    <div class="profile-field">
                        <span class="profile-label">Địa chỉ:</span>

                    </div>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-info">

                    <div class="profile-field">
                        <span class="profile-value" style="color:red">@Model.Idtaikhoan</span>
                        </div>
                        <div class="profile-field">

                            @Html.EditorFor(model => model.Holot, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Holot, "", new { @class = "text-danger" })
                        </div>

                        <div class="profile-field">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>


                        <div class="profile-field">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>


                        <div class="profile-field">
                            @Html.EditorFor(model => model.Dienthoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Dienthoai, "", new { @class = "text-danger" })
                        </div>

                        <div class="profile-field">
                            @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                        </div>

                    </div>


                </div>
        </div>

        <div class="form-group pull-right">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thông tin" class="btn btn-success" />
            </div>
        </div>
    }

</body>

