@model DAPM_LT.Models.PhieuMua

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuMua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaymua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaymua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Holot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Holot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idphieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
