@model IEnumerable<DAPM_LT.Models.PhieuMua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idsach)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Ngaymua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.Holot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr style="text-align:center">
    <td>
        @Html.DisplayFor(modelItem => item.Idsach)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.Ngaymua)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TaiKhoan.Holot)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Idphieu }) |
        @Html.ActionLink("Details", "Details", new { id = item.Idphieu }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Idphieu })
    </td>
</tr>
}

</table>
