@model DAPM_LT.Models.TaiKhoan
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/profile.css">
}


<body">
    <a href="@Url.Action("Index", "TaiKhoans")" class="btn btn-success" style="color: white;">Trở về</a>
    <br />

    <h2 style="text-align:center">Hồ sơ</h2>
    <br />
    <div class="profile-container">

        <div class="profile-left">
            <div class="profile-picture-container">
                <img src="~/Content/@Model.ImgU" alt="Hình ảnh đại diện" class="profile-picture">
            </div>
            
        </div>
        <div class="profile-right">
            <div class="profile-info">
                <div class="profile-field">
                    <span class="profile-label">Mã tài khoản:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Họ và tên:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Email:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Điện thoại:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Mật khẩu:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Loại tài khoản:</span>

                </div>
                <div class="profile-field">
                    <span class="profile-label">Địa chỉ:</span>

                </div>
            </div>
        </div>
        <div class="profile-right-2">
            <div class="profile-info">
                <div class="profile-field">

                    <span class="profile-value" style="color:red">@Model.Idtaikhoan</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.Holot @Model.Ten</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.Email</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.Matkhau</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.Dienthoai</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.PhanQuyen.TenQuyen</span>
                </div>
                <div class="profile-field">

                    <span class="profile-value">@Model.Diachi</span>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-actions pull-right ">
        <a href="@Url.Action("Edit", new { id = Model.Idtaikhoan })">Chỉnh sửa hồ sơ</a>
    </div>
</body>

