@model IEnumerable<DAPM_LT.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/account.css">
}

<h2>Danh sách nhân viên</h2>
<div class="search-form">
    <a href="@Url.Action("Create")" class="btn btn-success" style="color: white;">
        Thêm tài khoản
    </a>
    <form class="form-inline" role="form">
        <div class="form-group">
            @Html.Label("Tên người dùng: ")
            <div class="input-group">
                <input type="text" name="_name" class="form-control form-control-sm" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Tìm</button>
                </div>
            </div>
        </div>
    </form>
</div>



<ul class="user-list">
    @foreach (var item in Model)
    {
        <li class="user-item">
            <div class="profile-pic">
                <img src="~/Content/@item.ImgU" alt="Profile Picture" />
            </div>
            <div class="user-details">
                <div class="name">@Html.DisplayFor(modelItem => item.Holot) @Html.DisplayFor(modelItem => item.Ten)</div>
                <div class="role">@item.PhanQuyen.TenQuyen</div>
            </div>
            <div class="actions">
                <a href="@Url.Action("Details", "TaiKhoans", new { id = item.Idtaikhoan })" class="btn btn-info">Xem Chi Tiết</a>
            </div>
            <div class="actions">
                <a href="@Url.Action("Delete", "TaiKhoans", new { id = item.Idtaikhoan })" class="btn btn-danger">Xóa</a>
            </div>
        </li>
    }
</ul>

<style>
    .form-group {
        margin: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
    }


    label {
        font-weight: bold;
    }


    input[type="text"] {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        margin-top: 10px;
    }
</style>
