@model DAPM_LT.Models.Sach

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
    <link href="~/Content/css/admin1.css" rel="stylesheet" />
}

<a href="@Url.Action("Index", "Saches")" class="btn btn-primary" style="color: white;">Trở về</a>


@using (Html.BeginForm("Create", "Saches", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm sách</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="tennd">
                Tiêu đề:
            </div>
            <div class="col-md-101">
                @Html.EditorFor(model => model.Tieude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tieude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Hình sách:
            </div>
            <!--Chọn ảnh-->
            <div class="profile-left" style="flex-basis: 70%; width: auto; padding: 0px 10px">
                <div class="profile-picture-container" style="text-align: center">
                    
                         @*Hiển thị ảnh từ cột ImgU nếu nó không trống và có ảnh từ cơ sở dữ liệu*@ 
                        <img id="imgPreview" style="width: 360px; margin: auto" src="data:image/jpeg;base64"/>
                                      
                    <span id="selectedFileName" style="text-align: center"></span>
                </div>
                <div class="profile-actions" style="padding: 0px 10px; margin-left: auto; border: 1px solid; border-radius: 5px; width: 100px;">
                    <label for="ImageFile" class="btn2 btn-default">Chọn ảnh</label>
                    <input type="file" name="ImageFile" id="ImageFile" accept="image/*" style="display:none;" onchange="displayImagePreview(this)" />
                </div>
                <script>
                    function displayImagePreview(input) {
                        var fileName = input.files[0].name;
                        document.getElementById("selectedFileName").innerHTML = fileName;

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var imgPreview = document.getElementById("imgPreview");
                            imgPreview.src = e.target.result;
                            imgPreview.style.display = "block";
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                </script>
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Tác giả:
            </div>
            <div class="col-md-101">
                @Html.EditorFor(model => model.Tacgia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tacgia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Giá mua:
            </div>
            <div class="col-md-101">
                @Html.EditorFor(model => model.GiaMua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaMua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Năm xuất bảng:
            </div>
            <div class="col-md-101">
                @Html.EditorFor(model => model.Namxuatban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Namxuatban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Mô tả:
            </div>
            <div class="col-md-101">
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="tennd">
                Thể loại:
            </div>
            <div class="col-md-101">
                @Html.DropDownList("Idloai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Idloai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .form-group {
        height: auto;
    }
    .form-control {
        height: auto;
    }
    .tennd{
        padding: 0px 10px;
    }
</style>