@model DAPM_LT.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Areas/Views/Shared/_LayoutAd.cshtml";
}

<style>
    .dl-horizontal dt {
        width: 100px;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .dl-horizontal dd {
        margin-left: 120px;
    }

    .form-actions {
        margin-top: 20px;
    }
</style>
<a href="@Url.Action("Index", "Saches")" class="btn btn-primary" style="color: white;">Trở về</a>
<div>
    <h4 style="text-align:center">Xóa thông tin sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tacgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tacgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namxuatban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namxuatban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai.Tenloai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
