@model IEnumerable<DAPM_LT.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tieude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tacgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Namxuatban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai.Tenloai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tacgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namxuatban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai.Tenloai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idsach }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idsach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idsach })
        </td>
    </tr>
}

</table>
