@model List<DAPM_LT.Models.Kiemsoat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}



<h2>Quản lí từng quyển sách</h2>
<br />
<a href="@Url.Action("Index","Saches")" class="btn btn-primary" style="color: white;">
    Trở về
</a>
<a href="@Url.Action("Create")" class="btn btn-success pull-right" style="color: white;">
    Thêm sách
</a>
<br />
@if (Model.Any())
{
    <table class="table fa-border">
        <tr>
            <th>
                Mã sách
            </th>

            <th>
                Hình ảnh
            </th>
            <th>
                Tên sách
            </th>
            <th>
                Hiện trạng
            </th>
            <th>
                Mượn/Còn
            </th>
            <th>

            </th>
        </tr>



        @foreach (var item in Model)
        {
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.Idkiemsoat)
        </td>

        <td>
            <img src="~/Content/@item.Imgtrangthai" style="height:20%; width:20%" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.Tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthaisach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muontra)
        </td>
        <td style="text-align:center">
            <a href="@Url.Action("Edit", new { id = item.Idkiemsoat })" class="btn btn-primary" style="color: white;">
                Sửa
            </a>
            <a href="@Url.Action("Delete", new { id = item.Idkiemsoat })" class="btn btn-danger" style="color: white;">
                Xóa
            </a>
        </td>
    </tr>
        }

    </table>
}
else
{
    <p> Sách này hiện không có.</p>
}
