@model List<DAPM_LT.Models.Kiemsoat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}



<h2>Quản lí từng quyển sách</h2>
<br />
<a href="@Url.Action("Index","Saches")" class="btn btn-primary" style="color: white;">
    Trở về
</a>
<a href="@Url.Action("Create")" class="btn btn-success pull-right" style="color: white;">
    Thêm sách
</a>
<br />
<br />
<br />
@if (Model.Any())
{
    <!--<div style="display:flex" class="pull-right">
        <div class="Boloc">
           

            <div class="Tiemkiem_2">
                <div class="form-group">-->
                    @*<label>Loại sách:</label>*@
                    <!--<select class="select2" style="width: 100%;" name="_selectedValue">
                        <option value="Còn">Còn</option>

                        <option value="Tất cả">Tất cả</option>
                        <option value="Tất cả" Html.ActionLink("Index", "Kiemsoats", new { str = Model.Muo})>Mượn</option>
                        <option value="Tất cả">Bán</option>

                    </select>
                    <div class="input-group-append">
                        <button class="btn-primary" type="submit" value="Tìm kiếm"><i class="fa-solid fa-magnifying-glass" style="width:30px"></i></button>
                    </div>
                </div>
            </div>

        </div>

       
    </div>-->
    <table class="table fa-border">
        <tr>
            <th>
                Mã sách
            </th>

            <th>
                Hình ảnh
            </th>
            <th>
                Tên sách
            </th>
            <th>
                Hiện trạng
            </th>
            <th>
                Mượn/Còn
            </th>
            <th>

            </th>
        </tr>



        @foreach (var item in Model.Where(k => k.Muontra != "Bán"))
        {
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.Idkiemsoat)
        </td>
        @if (item.Imgtrangthai == null)
        {
            <td>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Sach.ImgSach)" style="height:20%; width:20%" />
            </td>
        }
        else
        {
            <td>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Sach.ImgSach)" style="height:20%; width:20%" />
            </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Sach.Tieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthaisach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Muontra)
            </td>
            <td style="text-align:center">
                <a href="@Url.Action("Edit", new { id = item.Idkiemsoat })" class="btn btn-primary" style="color: white;">
                    Sửa
                </a>
                <a href="@Url.Action("Delete", new { id = item.Idkiemsoat })" class="btn btn-danger" style="color: white;">
                    Xóa
                </a>
            </td>
        </tr>
        }

    </table>
}
else
{
    <p> Sách này hiện không có.</p>
}
