@model IEnumerable<DAPM_LT.Models.PhieuMuon>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml"; }

﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Quản lí phiếu mượn
                </h1>
                <div class="button-container">
                    <a class="btn btn-success" style="margin-right:auto" @Html.ActionLink("Create New", "Create")
                    </a>
                </div>
            </div>
            <div id="page-inner" style="margin-top:20px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-action">
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <div class="form-outline mb-4">
                                        <input type="search" placeholder="Search" class="form-control" id="datatable-search-input">
                                    </div>
                                    <div id="datatable">
                                    </div>
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Idsach)</th>
                                                <th>Ngày Mượn</th>
                                                <th>Ngày Trả</th>
                                                <th>@Html.DisplayNameFor(model => model.Trangthaimuon)</th>
                                                <th> @Html.DisplayNameFor(model => model.The.Idthe)</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr class="gradeC">
                                                    <td>@Html.DisplayNameFor(model => model.Idsach)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Ngaymuon)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Ngaytra)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.Trangthaimuon)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.The.Idthe)</td>
                                                </tr>
                                                <tr class="gradeU">
                                                    <td></td>
                                                    <td></td>
                                                    <td>-</td>
                                                    <td class="center">-</td>
                                                    <td class="center">U</td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idsach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaymuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthaimuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.The.Idthe)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idsach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaymuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthaimuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.The.Idthe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Idphieu }) |
                @Html.ActionLink("Details", "Details", new { id=item.Idphieu }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Idphieu })
            </td>
        </tr>
    }

    </table>*@
