@model IEnumerable<DAPM_LT.Models.PhieuMuon>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml"; }

﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Quản lí phiếu mượn
                </h1>
                <div class="button-container">
                    <a class="btn btn-success" style="margin-right:auto" @Html.ActionLink("Create New", "Create")
                    </a>
                </div>
            </div>
            <div style="display:flex">
                <div class="Boloc">
                    <div class="Tiemkiem_1">
                        <div class="form-group">
                            <label>Mã thông tin:</label>
                            <input class="form-control" type="text" placeholder="12..." aria-label="Id sản phẩm" aria-describedby="basic-addon2" name="_id" />
                        </div>
                    </div>



                </div>

                <!-- Navbar Search-->
                <form class="Tiemkiem_2">
                    <div class="input-group" style="display:flex">
                        <input class="form-control" style="flex:0.5" type="text" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" name="_name" />
                        <div class="input-group-append">
                            <button class="btn-primary" type="submit" value="Tìm kiếm"><i class="fa-solid fa-magnifying-glass" style="width:30px"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="page-inner" style="margin-top:20px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-action">
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <div class="form-outline mb-4">
                                        <input type="search" placeholder="Search" class="form-control" id="datatable-search-input">
                                    </div>
                                    <div id="datatable">
                                    </div>
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th> Mã phiếu mượn</th>
                                                <th> Mã thẻ</th>
                                                <th> Tên người mượn</th>
                                                <th>Ngày Mượn</th>
                                                <th>Ngày Trả</th>
                                                <th>Đang mượn/Đã trả</th>

                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr class="table-row" data-id="@item.Idphieu">

                                                    <td class="center">@Html.DisplayFor(modelItem => item.Idphieu)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.The.Idthe)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.The.TaiKhoan.Holot) @Html.DisplayFor(modelItem => item.The.TaiKhoan.Ten)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Ngaymuon)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Ngaytra)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.Trangthaimuon)</td>


                                                </tr>
                                                @*<tr class="gradeU">
                                                <td></td>
                                                <td></td>
                                                <td>-</td>
                                                <td class="center">-</td>
                                                <td class="center">U</td>
                                            </tr>*@
                                            </tbody>
                                        }
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Chọn tất cả các hàng có class "table-row"
        var rows = document.querySelectorAll('.table-row');

        // Thêm sự kiện click cho mỗi hàng
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                // Lấy giá trị id từ thuộc tính data-id
                var id = row.getAttribute('data-id');

                // Xây dựng URL chuyển hướng
                var redirectUrl = '@Url.Action("Index", "PhieuMuonChiTiets/Index")' + '/' + id;

                // Gửi yêu cầu chuyển hướng
                window.location.href = redirectUrl;
            });
        });
    });
</script>
</html>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idsach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaymuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthaimuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.The.Idthe)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idsach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaymuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthaimuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.The.Idthe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Idphieu }) |
                @Html.ActionLink("Details", "Details", new { id=item.Idphieu }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Idphieu })
            </td>
        </tr>
    }

    </table>*@
