@model IEnumerable<DAPM_LT.Models.PhieuMuon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idsach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaymuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaytra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthaimuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.The.Idthe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Idsach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaymuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaytra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthaimuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.The.Idthe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idphieu }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idphieu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idphieu })
        </td>
    </tr>
}

</table>
